!!!
html(lang="en", ng-app)
  head
    meta(charset="utf-8")
    title My HTML File
    link(rel="stylesheet", href="css/app.css")
    script(src="js/vendor.js")
  body
    p Nothing here {{'yet' + '!'}}
