!!!
html(lang="en", ng-app)
  head
    meta(charset="utf-8")
    title Google Phone Gallery
    link(rel="stylesheet", href="css/app.css")
    script(src="js/vendor.js")
  body
    ul
      li
        span Nexus S
        p Fast just got faster with Nexus S.
      li
        span Motorola XOOM™ with Wi-Fi
        p The Next, Next Generation tablet.
