!!!
html(lang="en", ng-app="phonecat")
  head
    meta(charset="utf-8")
    title Google Phone Gallery
    link(rel="stylesheet", href="css/app.css")
    script(src="js/vendor.js")
    script(src="js/app.js")
  body
    div(ng-view)
